@import "{{ site.theme }}";

section#article_list h1 {
  font: bold italic 12px/1 Georgia, Times, “Times New Roman”, serif;
  font-size:1.75em;
  background: #5B7E99;
  color: #8AC1E6;
  text-transform: lowercase;
}

section#article_list .breaker {
  height: 5px;
  background-color: #5B7E99;
}

section#article_list ul {
  background-color:#5B7E99;  
  padding-bottom:14px;
  margin-top: 0px;
  margin-bottom: 0px;
}

section#article_list li {
  font: Georgia, Times, “Times New Roman”, serif;
  margin-top: -1px;
  
  background-position-y: 7px;

  color: #E9EEF2;
}

/* VERSION - MIDDLE */
/* section#article_list {
  
} */

section#article_list {
  position: fixed;
  float: right;
  width: 250px;
  margin: 25px;
  right: 0px;
  top: 0px;
  box-shadow:0px 5px #bdb6ad;
}

section#article_list .ribbon-inner {
  border:4px solid #5B7E99;
  background: #7EB0D2;
}
    


section#banner * {
  position: absolute;
}

section#banner {
  position: absolute;
  transform-origin: 105px 15px;
  left: -50px;
  top: 38px;
  rotate: -45deg;
}

section#banner .ribbon-outer {
  margin-left: 0px;
  width: 210px;
  height: 30px;
  background: #5B7E99;7EB0D2
}

section#banner .ribbon-inner {
  border:2px solid #7EB0D2;
  background: #5B7E99;
  width: 200px;
  height: 20px;
  margin-left: 3px;
  margin-top: 3px;
}

section#banner .click {
  position: absolute;
  background: transparent;
  width: 210px;
  height: 210px;
  text-align: center;
  line-height: 210px;
  top: -96px;
  left: -5px;
  transform: none;
  color: #E9EEF2;
  font:bold italic 'Open Sans', Myriad, Calibri, sans-serif;
  font-size: .85em;
  font-weight:bold;
  font-style: italic;
  text-transform: uppercase;
}


#downloads .zip, #downloads .tgz{
  color: #E9EEF2;
}
